<div class="col-md-6 col-md-offset-3">
	<h3 class="text-center">プロジェクト一覧</h3>
	<section>
		<%= link_to 'プロジェクト追加', new_project_path, class: "btn btn-success col-xs-4 col-xs-offset-4" %>
	</section>
	<table class="table col-xs-8 table-condensed">
		<thead>
			<tr>
				<th class="col-xs-2">コード</th>
				<th class="col-xs-8">プロジェクト名</th>
				<th class="col-xs-2">操作</th>
			</tr>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
			<tr>
				<td><%= project.code %></td>
				<td><%= project.name %></td>
				<td>
					<%= link_to '編集', edit_project_path(project), class: "btn btn-primary" %>
					<%= link_to '削除', project, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br>
</div>
