<% provide(:title, "Edit user") %>
<h4 class="text-center">パスワード変更</h4>

<div class="row">
	<div class="text-center col-xs-6 col-xs-offset-3">
		<%= form_for @user_setting, :url => user_setting_path do |f| %>
			<%= render 'error_messages' %>

		<div class="form-group">
			<%= f.hidden_field :worker_id, value: @user_setting.worker_id %>
		</div>

		<div class="form-group">
			<%= f.hidden_field :name, value: @user_setting.name %>
		</div>

		<%= f.label :password, "パスワード" %>
		<%= f.password_field :password, class: "form-control text-center" %>

		<%= f.label :password_confirmation, "パスワード確認" %>
		<%= f.password_field :password_confirmation, class: "form-control text-center" %>

		<%= f.submit "変更", class: "btn btn-lg btn-primary col-xs-12 m-top m-bottom" %>
	<% end %>

	</div>
</div>
