<div class="row">
	<div class="col-xs-12">
		<h4 class="text-center">
			<%= render 'user_info' %>の週報
		</h4>
		<h4 class="text-center">
			<%= render 'week_display' %>
		</h4>
			<div class="text-center col-xs-12">
				<%= link_to "追加",{controller:"week_reports", action:"new", start:@start_day},class: "btn btn-success" %>
				<%= link_to "先週",{controller:"week_reports", action:"change_week",start:@start_day - 1.week}, class: "btn btn-info" %>
				<%= link_to "次週",{controller:"week_reports", action:"change_week",start:@start_day + 1.week}, class: "btn btn-info" %>
			</div>
		<!--週報の中身が出力されます-->
		<table class="table col-xs-12">
			<thead>
				<tr>
					<th class="col-xs-2">プロジェクト</th>
					<th class="col-xs-3">やったこと</th>
					<th class="col-xs-3">わかったこと</th>
					<th class="col-xs-3">つぎやること</th>
					<th class="col-xs-1">操作</th>
				</tr>
			</thead>
			<tbody>
			<%= render partial: 'report' %>
			</tbody>
		</table>
	</div>
</div>